@import './reset.css';

$primaryColor: #BE64FF;
$secondaryColor: #F4F4F4;

:root {
  font-family: "Arial Nova", sans-serif;
}

body {
  margin: 0 auto;
  background-color: $secondaryColor;
}

.largeTile {
  background-color: $primaryColor;
  border-radius: 10px;
  padding: 0.5rem;
  color: $secondaryColor;
  margin: 5px;
  font-weight: 700;
  font-size: 2rem;
  max-height: 90vh;
  max-width: 400px;
}

.smallTile {
  background-color: $secondaryColor;
  border-radius: 10px;
  padding: 0.5rem;
  color: $primaryColor;
  margin: 5px;
  font-weight: 400;
  font-size: 1.5rem;
}

.PageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem 0 0;
  max-width: 400px;
}
//nav buttony zestramlinowane, stara klasa dla Logo nieaktualna
//.Logo {
//  text-decoration: none;
//  max-height: 3vh;
//  font-size: 1.5rem;
//  align-content: center;
//  transition: all 0.5s;
//  &:hover {
//    background-color: $secondaryColor;
//    color: $primaryColor;
//    cursor: pointer;
//  }
//}

.Menu__button {
  text-decoration: none;
  transition: all 0.5s;
  &:hover {
    background-color: $primaryColor;
    color: $secondaryColor;
    cursor: pointer;
  }
}


.List {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  align-content: center;

  &__link {
    text-decoration: none;
    font-size: 2rem;
  }
}

.AddList__button {

}